<div id="page" class="page" style="text-align:center">

  <app-header></app-header>

  <div class="container rom">

    <h1 id="objetivo" class="card-body">Objetivo</h1>
    <hr />
  </div>
  <div class="container column">


  <div  class="card-body">
    <p>El objetivo de este sitio es dar visibilidad a la cantidad de animales que se encuentran en situacion de calle,
      para asi, quienes puedan permitirse rescatar animales de la calle, puedan dar con ellos con mayor facilidad, y a su vez,
      aquellos que quieran ayudar pero no puedan permitirse adoptar, tengan la opcion de contribuir, indicando locacion y datos importantes correspondientes al animal
       encontrado. </p>
  </div>
  <div>
    <img src="../assets/img/map-static.jpg" class="card-body" alt="">
  </div>
  </div>




  <div class="footer-wrapper">
<p>footer</p>



  </div>

</div>
